body{
    margin: 0%;
    padding: 0%;
   }
   .container{
    display: flex;
   }
   .side-bar{
    background-color: rgb(26, 8, 61);
     width: 15%;
     height: 100vh;
     padding: 20px;
   }
   .side{
       display: flex;
       margin: 10px;
       margin-top: 25px;
       background-color: white;
       border-radius: 10px;
       text-decoration: none;
       color: black;
   }
   .side:hover{
       background-color: rgb(178, 223, 212);
   }
   .content{
       width: 75%;
       height: 100vh;
   }
   .img-side-bar{
       width: 40px;
       height: 40px;
       margin: 5px;
   }
   span{
       margin-left: 10px;
       margin-top: 20px;    
   }
   .content{
    background-color: rgb(225, 167, 231);

   }
   @media screen and (min-width: 600px) and (max-width: 768px) {
    .side-bar  {
        width: 12%;
  }
  span{
    display: none;
  }
   }

  @media screen and (min-width: 769px) and (max-width: 992px) {
    .side-bar {
        width: 15%;
        }
     
        .img-side-bar {
            width: 30px;
            height: 30px;
          }
          .side{
            font-size: 15px;
          }
        }
    
