body{
    margin: 0%;
    padding: 0%;
   }
   .container{
    display: flex;
   }
   .side-bar{
    background-color: rgb(61, 61, 59);
     width: 15%;
     height: 100vh;
     padding: 20px;
   }
   .side{
       display: flex;
       margin: 10px;
       margin-top: 25px;
       background-color: white;
       border-radius: 10px;
   }
   .side:hover{
       background-color: aqua;
   }
   .content{
       width: 75%;
       height: 100vh;
   }
   .img-side-bar{
       width: 40px;
       height: 40px;
       margin: 5px;
   }
   span{
       margin-left: 10px;
       margin-top: 20px;
       
   }